<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form class="form" method='POST'>
    <div class="form-group">
        <label for="name">
        <input type="text" class="form-control" id="name" name="name">
        </label>
    </div>
    <div class="form-group">
        <label for="description">
            <input type="text" class="form-control" id="description" name="description">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="create" class="btn btn-primary">
    </div>
</form>
</body>
</html>