<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form class="form" action='/events/create' method='POST'>
    <div class="form-group">
        <label for="eventName">
        <input type="text" class="form-control" id="eventName" name="eventName">
        </label>
    </div>
    <div class="form-group">
        <label for="eventDescription">
            <input type="text" class="form-control" id="eventDescription" name="eventDescription">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="create" class="btn btn-primary">
    </div>
</form>
</body>
</html>